<!-- <h1> YURRRR </h1> -->

<h1> ALL OF OUR USERSSSS -- WhichShouldNeverBeTheCaseUnlessItsASocialApp 😅 </h1>



<br><h2><%= link_to "+👥 Create a New User+", new_user_path %></h2><br>


<ul>

    <% @users.each do |user| %>


        <%= link_to user.name, user_path(user) %>
        <!--  <%= link_to user, user %>  -->


        <br><br>

    <% end %>

</ul>


<br><h2><%= link_to "+👥 Create a New User+", new_user_path %></h2><br>